body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    overflow-x:visible;
}


a{
    color:#f9faf8;
    text-decoration: none;
}


header{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    background-color:#1f2937;
    color:#f9faf8;
    position:fixed;
    width:100%;
}

ul{
    display:flex;
    list-style-type: none;
    align-items: center;
    margin-right:60px;
    gap:25px;
}

#one{
    background-color: #1f2937;
    display: flex;
    flex:0 1 auto;
    padding:60px 80px;
    justify-content: center;
    align-items: center;
    gap:30px;
    height:300px;
    margin-top: 70px;
}

.block{
   flex:0 2 auto;
   max-width: 550px
}

h2{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    margin:0;
}

#one p{
    font-size: 18px;
    color:#e5e7eb;
    margin:0;
}

#one img{
    flex:0 1 auto;
}

button{
    background-color:#3882f6;
    padding:8px 25px;
    border:none;
    color:#f9faf8;
    border-radius:5px;
    margin-top: 10px;;
}

#two{
    background-color: #f9faf8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
}

h3{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

.gallery{
    display: flex;
    justify-content: center;
    gap:50px;
    text-align: center;
    padding: 20px;;

}

.card{
    max-width:200px;
}

.gallery p{
    color:#1f2937;
}

.card img{
    border-radius: 15px;
    border: 4px solid #3882f6;
    height: 160px;
}

#three{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#three .block{
    display: flex;
    flex-direction: column;
}
.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.sign{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

#four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#four .block{
    background-color: #3882f6;
    padding: 15px 80px; 
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
}

h4{
    color:#f9faf8;
    font-size: 20px;
    font-weight:bold;
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#four p{
    color: #e5e7eb;
    margin-top: 0;

}

#four button{
    border: 2px solid#f9faf8;
    font-weight: bold;
    width: 120px;
}
 
footer{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footertext{
    color:#e5e7eb;
}